#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aquamarine; */
}

.head-title{
  /* width: 100%; */
  outline: 2px black;
  font-family: monaco;
  font-size: 30px;
  letter-spacing: 3px;
}

#contain-head{
  width: 100%;
  background-color: rgb(192, 249, 230);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#footer-info{
  width:100%;
  background-color: rgb(192, 249, 230);
  padding: 10px;
}

/* main {
  height: 700px;
  width: 100%;
} */